
@{
    ViewData["Title"] = "Home Page";
}

<div class="General">
    <div class="Users">
        Users
    </div>
    <div class="divMenu">
       
    </div>
    <div class="divTable">
        <p style="font-size: 18px; line-height: 20px; text-align: center">Надо обязательно выделить одного из сотрудников</p>
        
        <input class="submitError" style="margin-left: 220px" type="submit" name="" value="Вернуться к выбору" onclick="document.location='/'">
        
    </div>
</div>