
<div class="General2">
    <div class="User">
        User
    </div>
    <div class="accountTable">
        <div class="inAccountTable">Account</div>
        <form class="accountForm" action="~/Home/AddingNewAccount" method="post">
            <div>
                <label for="name">Name</label>
                <input class="input" placeholder="Name" type="text" name="name" value="@ViewBag.Name">
            </div>
            <div>
                <label for="email">Email</label>
                <input class="input" placeholder="Email" type="text" name="email" value="@ViewBag.Email">
            </div>       
        </form>
    </div>
    <div class="profileTable">
        <div class="inProfileTable">Profile</div>
        <form class="profileForm" method="post" action="~/Home/AddingNewProfile?email=@ViewBag.Email&depid=@ViewBag.DepId">
            <div>
                <label for="name">FirstName</label>
                <input class="input" placeholder="firstname" type="text" name="firstname">
            </div>
            <div>
                <label for="email">LastName</label>
                <input class="input" placeholder="lastname" type="text" name="lastname">
            </div>
            <div>
                <label for="department">Department</label>
                <select name="dep">
                    <option>HR</option>
                    <option>Accounting</option>
                </select>
            </div>
            <div>
                <input class="submit" type="submit" name="" value="Save">
            </div>
        </form>
    </div>
</div>