<!DOCTYPE html>
<html style="margin: 0 0; padding: 0 0;">
<head style="margin: 0 0; padding: 0 0;">
    <title>Тестовое задание</title>
    <link href="~/css/site.css" type="text/css" rel="stylesheet" />
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/script.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>